$sidebar-width: 360px;
$head-height: 130px;
$icon-color: #3f3f3f;
html.tab-collections-pinned {
  .tab-collections-react-root {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2147483646;
    font-size: 14px;
    .tab-collections {
      border-left: 1px solid #d3d2d1;
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-align: left;
        position: static;
      }
      div {
        display: block;
      }
      position: fixed;
      top: 0;
      right: 0;
      width: $sidebar-width;
      height: 100vh;
      background: pink;
      .tab-collections-container {
        .head {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          height: $head-height;
          padding: 20px;
          background-color: #fff;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .title {
            color: #000;
            font-size: 24px;
            font-weight: 600;
            user-select: none;
            margin: 0 !important;
            margin-right: 26px !important;
            padding: 0 !important;
            display: flex;
            align-items: center;
          }
          .icon-link-button {
            display: flex;
            align-items: center;
            .icon-add {
              width: 20px;
              height: 20px;
            }
          }
          .icon {
            width: 28px;
            height: 28px;
            color: $icon-color;
            &:hover {
              background: #e7e7e7;
            }
          }
          .icon-back {
            font-size: 20px;
            width: 24px;
            height: 24px;
            margin-right: 6px;
          }
          .icon-close {
            font-size: 22px;
            position: absolute;
            top: 20px;
            right: 15px;
          }
          .icon-add-all,
          .icon-open-all {
            width: 20px;
            height: 20px;
            position: absolute;
            bottom: 18px;
            color: #a5a5a5;
          }
          .icon-add-all {
            right: 46px;
          }
          .icon-open-all {
            right: 18px;
          }
        }
        .body {
          margin-top: $head-height;
          background-color: #f7f7f7;
          height: calc(100vh - #{$head-height});
          padding: 7px;
          overflow: auto;
          &::-webkit-scrollbar {
            width: 10px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #a5a5a5;
          }
          .paper {
            margin: 6px 0;
            height: 60px;
            padding: 8px;
            cursor: pointer;
            &:hover {
              box-shadow: 0px 1px 6px 1px #e3e2e1;
            }
            .title {
              font-size: 16px;
              font-weight: 500;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .desc,
            .url {
              color: #a5a5a5;
            }
            .url {
              margin-top: 18px;
              display: flex;
              flex-direction: row;
              align-items: center;
              .favicon {
                margin-right: 5px;
                width: 15px;
                height: 15px;
                color: $icon-color;
              }
            }
          }
        }
      }
    }
  }
}
