$sidebar-width: 360px;
$head-height: 130px;
$primary-color: #3f51b5;
$icon-color: #3f3f3f;
html.tab-collections-pinned {
  .tab-collections-react-root {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2147483646;
    font-size: 14px;
    .list-text {
      font-size: 14px;
    }
    .list-icon-root {
      min-width: 30px;
      font-size: 14px;
    }
    .list-icon {
      width: 22px;
      height: 22px;
    }
    .home-menu {
      width: 147px;
    }
    .tab-collections {
      border-left: 1px solid #d3d2d1;
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-align: left;
        position: static;
        font-family: Arial, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.35;
      }
      div {
        display: block;
      }
      position: fixed;
      top: 0;
      right: 0;
      width: $sidebar-width;
      height: 100vh;
      background: pink;
      .tab-collections-container {
        .head {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          height: $head-height;
          padding: 20px;
          background-color: #fff;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .title {
            color: #000;
            font-size: 24px;
            font-weight: 600;
            user-select: none;
            margin: 0 !important;
            margin-right: 26px !important;
            padding: 0 !important;
            display: flex;
            align-items: center;
            .input {
              flex-shrink: 1;
              input {
                font-size: 24px !important;
                border: none !important;
                box-shadow: none !important;
                background-color: transparent !important;
                text-overflow: ellipsis;
                &:hover,
                &:focus {
                  background-color: #e7e7e7 !important;
                }
              }
            }
          }
          .button-text {
            font-size: 16px;
          }
          .icon-link-button {
            display: flex;
            align-items: center;
            .icon-add {
              width: 20px;
              height: 20px;
            }
          }
          .icon {
            width: 28px;
            height: 28px;
            color: $icon-color;
            &:hover {
              background: #e7e7e7;
            }
          }
          .icon-back {
            font-size: 20px;
            width: 24px;
            height: 24px;
            margin-right: 6px;
          }
          .icon-close {
            font-size: 22px;
            position: absolute;
            top: 20px;
            right: 15px;
          }
          .icon-add-all,
          .icon-more {
            width: 20px;
            height: 20px;
            position: absolute;
            bottom: 18px;
            color: #a5a5a5;
          }
          .icon-add-all {
            right: 46px;
          }
          .icon-more {
            right: 18px;
          }
          .selected-tip {
            padding: 2px 4px;
            position: absolute;
            right: 6px;
            bottom: 10px;
            left: 6px;
            height: 38px;
            display: flex;
            align-items: center;
            background-color: #545454;
            color: #ffffff;
            .tip-icon {
              color: #ffffff;
              padding: 3px;
              font-size: 28px;
              cursor: pointer;
              border-radius: 2px;
              &:hover {
                background-color: rgba(255, 255, 255, 0.3);
              }
            }
          }
        }
        .body {
          margin-top: $head-height;
          background-color: #f7f7f7;
          height: calc(100vh - #{$head-height});
          padding: 7px;
          overflow: auto;
          &::-webkit-scrollbar {
            width: 10px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #a5a5a5;
          }
          .paper {
            transition-duration: 200ms;
            &.paper-selected {
              box-shadow: 0px 0px 3px 1px $primary-color !important;
            }
            position: relative;
            margin: 8px 0;
            height: 60px;
            padding: 8px;
            cursor: pointer;
            .checkbox {
              display: none;
              position: absolute;
              top: 8px;
              right: 8px;
              // too override checkbox icon size, default is 1.5rem
              // sites like Baidu has a 100px font-size of html, I don't know why
              .MuiSvgIcon-root {
                font-size: 24px;
              }
            }
            &:hover {
              box-shadow: 0px 1px 6px 1px #e3e2e1;
              .checkbox {
                display: block;
              }
            }
            .title {
              font-size: 16px;
              font-weight: 500;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .desc,
            .url {
              color: #a5a5a5;
            }
            .url {
              margin-top: 18px;
              display: flex;
              flex-direction: row;
              align-items: center;
              .favicon {
                margin-right: 5px;
                width: 15px;
                height: 15px;
                color: $icon-color;
              }
            }
          }
        }
      }
    }
  }
}

.tab-collection-max-z-index {
  * {
    font-size: 12px !important;
  }
  z-index: 2147483647 !important;
}
